header {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  user-select: none;
  background-color: #f2f2ec;
}

header > nav > ul {
  list-style-type: none;
}

header > nav > ul > li {
  cursor: pointer;
}

main {
  height: calc(100vh - 3rem);
  /* Hay que ver como hacer la altura */
  width: 100%;
  overflow: auto;
  background-color: #f2f2ec;
}
