<header>
  <h2>MaryTradiArts</h2>
  <p>
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
    La descripcion que quiera poner mama. La descripcion que quiera poner mama.
  </p>
</header>

<section>
  <article [routerLink]="['amigurumis']">
    <div></div>
    <p>Amigurumis</p>
  </article>
  <article [routerLink]="['pirograbados']">
    <div></div>
    <p>Pirograbados</p>
  </article>
  <article [routerLink]="['macrame']">
    <div></div>
    <p>Macramé</p>
  </article>
</section>
